node_modules/
dist/
target/
.tools/
.cache/
.idea/
*.iml
*.log
.env
.env.*
!.env.example
application-local.yml
uploads/
!**/.mvn/wrapper/maven-wrapper.properties

/local-config.ps1
/.local-runtime/

/desktop-local-config.json
/desktop/src-tauri/resources/*.jar
/desktop/src-tauri/gen/schemas/
